{% load static %}
<!DOCTYPE html>

<head>
  <title>Toys Rent</title>
  {% include 'import.html' %}
  <style>
    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  {% include 'navbar.html' %}
  <header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <h1>Toys Rent</h1>
  </header>
</body>