{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login | Toys Rent</title>
  {% include 'import.html' %}
  <link rel="stylesheet" href="{% static 'css/home/logPage.css' %}">
</head>

<body style="background: #444444">
  {% include 'navbar.html' %}
  <section class="bsh-dark">
    <div class="user-log" id="log-container">
      <div class="form-container sign-up">
        <label id="register-admin">
          <input type="checkbox">
          <span>Admin</span>
        </label>
        <form method="POST" id="admin-form">{% csrf_token %}
          <h1 style="margin: 0.5em 0">Create Admin Account</h1>
          {{ admin_form.as_p }}
          <button type="submit" name="admin">Sign Up</button>
        </form>
        <form method="POST" id="user-form">{% csrf_token %}
          <h1 style="margin: 0.5em 0">Create Account</h1>
          {{ user_form.as_p }}
          <button type="submit" name="register">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form method="POST">{% csrf_token %}
          <h1 style="margin-bottom: 1em">Sign In</h1>
          <p>
            <label for="login-ktp-num">KTP Number:</label>
            <input type="text" />
          </p>
          <p>
            <label for="login-email">Email:</label>
            <input type="email" />
          </p>
          <button type="submit" name="login">Sign In</button>
        </form>
      </div>
      <div class="form-overlay">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="sign-in">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="sign-up">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="{% static 'js/home/logPage.js' %}"></script>
</body>

</html>