*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section.bsh-dark {
  background: #444444;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

p {
  font-weight: 100;
  letter-spacing: 0.025em;
  margin: 1em 0 1.5em;
}

span {
  font-size: 0.8em;
}

a {
  color: #333;
  font-size: 0.9em;
  text-decoration: none;
  margin: 1em 0;
}

button {
  cursor: pointer;
  padding: 0.7em 3em;
  border: 1px solid #FF4B2B;
  border-radius: 1.5em;
  margin-top: 1em;
  letter-spacing: 0.1em;
  background-color: #FF4B2B;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: 80ms ease;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: white;
}

form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.8em 0.9em;
  margin: 0 0 0.5em;
  border: none;
  border-radius: 0.3em;
  background-color: #eee;
}

.user-log {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 48em;
  max-width: 100%;
  min-height: 40em;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.user-log.right-panel-active .form-container.sign-in {
  transform: translateX(100%);
}

.form-container.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.form-container.sign-up #register-admin {
  position: absolute;
  top: 1em;
  right: 1em;
}

.form-container.sign-up p,
.form-container.sign-in p {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}


.form-container.sign-up #admin-form {
  display: none;
  outline: none;
}


.user-log.right-panel-active .form-container.sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.user-log.right-panel-active .form-overlay {
  transform: translateX(-100%);
}

.overlay {
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.user-log.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.user-log.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.user-log.right-panel-active .overlay-right {
  transform: translateX(20%);
}