body {
  background: #E2E2E2;
  padding: 14px;
}

.foodbox h3 {
  margin-top: 6px !important;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.foodbox .thumbnail {
  padding: 0px !important;
  border: 0px solid rgba(78, 78, 78, 0.36);
  box-shadow: 1px 1px 1px #929292;
  border-radius: 2px;
  max-width: 262px;
  max-height: 238px;
  background: #fff;
}

.foodbox p {
  color: rgba(51, 51, 51, 0.63);
}

.foodbox .responsive p {
  margin: 0 0 0px !important;
  font-size: 14px;
}

.foodbox .responsive {
  float: left;
  box-sizing: border-box;
}

.foodbox .vegnonveg {
  width: 12%;
  padding: 14px 5px;
}

.foodbox .contentPart {
  width: 63%;
  padding: 5px 5px;
}

.foodbox .cartPart {
  width: 37%;
  padding: 13px 5px;
}

.foodbox .thumbnail .caption {
  padding: 5px 9px;
}

.foodbox .pricesection {
  position: absolute;
  top: 5px;
  z-index: 99999;
}

.foodbox .pricesection {
  /*       width: 262px; */
  /* background: rgba(0,0,0,0.4); */
  max-width: 262px;
  width: 90%;
}

.foodbox .pricesection h3 {
  color: #fff !important;
}

.foodbox .pricesection .h3 {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.47);
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
  font-weight: 500;
  cursor: default;
  box-sizing: border-box;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.foodbox .pricesection .h3:hover {
  background: rgba(0, 0, 0, 0.77);
}

.foodbox .fifty {
  width: 50%;
  padding: 8px 10px;
}

.foodbox .addRemoveButton {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: transparent;
  /* color: #333; */
  line-height: 0.9;
  font-size: 15px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.foodbox .addButton {
  border-color: #EA485F;
  color: #EA485F;
}

.foodbox .addButton:hover {
  background: #EA485F;
  color: #fff;
}

.foodbox .removeButton {
  border-color: rgba(0, 0, 0, 0.45);
  color: rgba(0, 0, 0, 0.45);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.foodbox .removeButton:hover {
  border-color: rgba(0, 0, 0, 0.69);
  color: rgba(0, 0, 0, 0.69);
}

.foodbox .vegNonvegIcon {
  margin-top: -4px;
}

.foodbox img {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.foodbox .onlyaddButton {
  border: #EA485F;
  background: transparent;
  color: #EA485F;
  border: 1px solid #EA485F;
  padding: 4px 12px;
  transition: all 0.25s ease;
}

.foodbox .onlyaddButton:hover {
  background: #EA485F;
  color: #fff;
}

.foodbox p.foodDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 20px;
  /* fallback */
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.foodbox .availOption {
  position: absolute;
  bottom: 93px;
  height: 0px;
  z-index: 999;
}

.foodbox .itsAvaliable {
  padding: 2px 5px;
  background: #4CAF50;
  color: #fff;
}

.foodbox .itsSoldOut {
  padding: 2px 5px;
  background: #FF5722;
  color: #fff;
}

.foodbox .fillingFast {
  padding: 2px 5px;
  background: #FF9800;
  color: #fff !important;
}

.foodbox .clearfix {
  max-width: 262px;
  /* max-height: 238px; */
}

.foodbox .foodMoreDesc {
  display: none;
  padding: 14px;
  background: #fff;
  position: absolute;
  bottom: 21px;
  left: auto;
  max-width: 262px;
  z-index: 999;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  max-height: 122px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #6B6B6B;
  margin-top: 10px;
}

.foodbox .closeDesc {
  color: #fff;
  background: #FF5722;
  height: 22px;
  width: 22px;
  display: block;
  text-align: center;
  border-radius: 2px;
  position: static;
  text-decoration: none;
  float: right;
}

.foodbox .closeDesc i {
  color: #fff;
}

.foodbox p.foodDesc a {
  color: #E91E63;
  text-decoration: none;
}

.foodbox p.foodDesc a:hover {
  color: #E6539C;
}