body {
  padding-top: 3em;
}

#main-nav {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-items: stretch;
  padding: 0.5em 1em;
  background: white;
  box-shadow: 0 4px 3px rgba(0, 0, 0, .5);
}

#user-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#main-nav a {
  margin: 0;
}

#main-nav a:hover {
  color: green;
}