{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item List</title>
  {% include 'import.html' %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/order/item-list.css' %}">
  <style>
    body {
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="clearfix foodbox center-block">
          <div class="pricesection">
            <div class="responsive fifty">
              <span class="h3">
                Rp300.000,00
              </span>
            </div>
            <div class="responsive fifty">
              <span class="vegNonvegIcon pull-right">
                <img src="http://www.technary.com/wp-content/uploads/2014/12/indian-vegetarian-cooking.png"
                  class="img-responsive" alt="Image" width="24">
              </span>
            </div>
          </div>
          <div class="availOption">
            <span class="itsAvaliable">
              Avaliable
            </span>
          </div>
          <div class="thumbnail">
            <img
              src="https://oyemeal-production-media.s3.amazonaws.com/images_dish/a671e81bbef34ab4b9dadd27d05b23ef-480x320.jpg"
              alt="">
            <div class="caption">
              <div class="contentInline clearfix">
                <div class="responsive contentPart">
                  <div class="clearfix">
                    <h3 class="pull-left">Green Veg Salad</h3>
                  </div>
                  <p class="foodDesc">
                    <a href="javascript:void(0)" onclick="showMoreDesc('moreDesc1')">Description</a>
                  </p>
                </div>
                <div class="responsive cartPart">
                  <div class="clearfix pull-right">
                    <a href="#" class="btn btn-sm btn-primary onlyaddButton">+ Add</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="foodMoreDesc" id="moreDesc1">
            <a href="javascript:void(0)" onclick="showMoreDesc('moreDesc1')">
              <span class="closeDesc">
                <i class="fa fa-times"></i>
              </span>
            </a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="clearfix foodbox center-block">
          <div class="pricesection">
            <div class="responsive fifty">
              <span class="h3">
                Rp300.000,00
              </span>
            </div>
            <div class="responsive fifty">
              <span class="vegNonvegIcon pull-right">
                <img src="http://www.technary.com/wp-content/uploads/2014/12/indian-vegetarian-cooking.png"
                  class="img-responsive" alt="Image" width="24">
              </span>
            </div>
          </div>
          <div class="availOption">
            <span class="itsSoldOut">
              Sold Out
            </span>
          </div>
          <div class="thumbnail">
            <img
              src="https://oyemeal-production-media.s3.amazonaws.com/images_dish/02329ba6fb5240e29f07ecb0fe9db801-480x320.jpg"
              alt="">
            <div class="caption">
              <div class="contentInline clearfix">
                <div class="responsive contentPart">
                  <div class="clearfix">
                    <h3 class="pull-left">Green Salad</h3>
                  </div>
                  <p class="foodDesc">
                    <a href="javascript:void(0)" onclick="showMoreDesc('moreDesc2')">Description</a>
                  </p>
                </div>
                <div class="responsive cartPart">
                  <div class="clearfix pull-right">
                    <a href="#" class="btn btn-sm btn-primary addRemoveButton addButton">+</a>
                    <span>
                      &nbsp;5&nbsp;
                    </span>
                    <a href="#" class="btn btn-sm btn-default addRemoveButton removeButton">-</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="foodMoreDesc" id="moreDesc2">
            <a href="javascript:void(0)" onclick="showMoreDesc('moreDesc2')">
              <span class="closeDesc">
                <i class="fa fa-times"></i> Close
              </span>
            </a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam.
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="clearfix foodbox center-block">
          <div class="pricesection">
            <div class="responsive fifty">
              <span class="h3">
                Rp300.000,00
              </span>
            </div>
            <div class="responsive fifty">
              <span class="vegNonvegIcon pull-right">
                <img src="http://www.technary.com/wp-content/uploads/2014/12/indian-vegetarian-cooking.png"
                  class="img-responsive" alt="Image" width="24">
              </span>
            </div>
          </div>
          <div class="availOption">
            <span class="fillingFast">
              Limited Item
            </span>
          </div>
          <div class="thumbnail">
            <img
              src="https://oyemeal-production-media.s3.amazonaws.com/images_dish/fe1c3ccded644abc9fa41c4053fd7b11-480x320.jpg"
              alt="">
            <div class="caption">
              <div class="contentInline clearfix">
                <div class="responsive contentPart">
                  <div class="clearfix">
                    <h3 class="pull-left">Green Salad</h3>
                  </div>
                  <p class="foodDesc">
                    <a href="javascript:void(0)" onclick="showMoreDesc('moreDesc3')">Description</a>
                  </p>
                </div>
                <div class="responsive cartPart">
                  <div class="clearfix pull-right">
                    <a href="javascript:void(0)"
                      class="btn btn-sm btn-primary addRemoveButton addButton addButton">+</a>
                    <span>
                      &nbsp;1&nbsp;
                    </span>
                    <a href="#" class="btn btn-sm btn-default addRemoveButton removeButton">-</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="foodMoreDesc" id="moreDesc3">
            <a href="javascript:void(0)" onclick="showMoreDesc('moreDesc3')">
              <span class="closeDesc">
                <i class="fa fa-times"></i> Close
              </span>
            </a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam.
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="clearfix foodbox center-block">
          <div class="pricesection">
            <div class="responsive fifty">
              <span class="h3">
                Rp300.000,00
              </span>
            </div>
            <div class="responsive fifty">
              <span class="vegNonvegIcon pull-right">
                <img src="http://www.technary.com/wp-content/uploads/2014/12/indian-vegetarian-cooking.png"
                  class="img-responsive" alt="Image" width="24">
              </span>
            </div>
          </div>
          <div class="availOption">
            <span class="itsAvaliable">
              Avaliable
            </span>
          </div>
          <div class="thumbnail">
            <img
              src="https://oyemeal-production-media.s3.amazonaws.com/images_dish/fe1c3ccded644abc9fa41c4053fd7b11-480x320.jpg"
              alt="">
            <div class="caption">
              <div class="contentInline clearfix">
                <div class="responsive contentPart">
                  <div class="clearfix">
                    <h3 class="pull-left">Green Salad</h3>
                  </div>
                  <p class="foodDesc">
                    <a href="javascript:void(0)" onclick="showMoreDesc('moreDesc4')">Description</a>
                  </p>
                </div>
                <div class="responsive cartPart">
                  <div class="clearfix pull-right">
                    <a href="#" class="btn btn-sm btn-primary addRemoveButton addButton addButton">+</a>
                    <span>
                      &nbsp;5&nbsp;
                    </span>
                    <a href="#" class="btn btn-sm btn-default addRemoveButton removeButton">-</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="foodMoreDesc" id="moreDesc4">
            <a href="javascript:void(0)" onclick="showMoreDesc('moreDesc4')">
              <span class="closeDesc">
                <i class="fa fa-times"></i> Close
              </span>
            </a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam.
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function showMoreDesc(id) {
      $('#' + id).toggle(400)
    }
  </script>
</body>

</html>