<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pemesanan Barang</title>
  {% include 'import.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <form id="formPesanan" class="col-md-6 offset-md-3 justify-content-center">
      <h2 class="text-center">FORM PEMESANAN</h2>
      <div class="form-group">
        <label for="input1">Anggota:</label>
        <select class="selectpicker form-control" data-live-search="true" title='Nothing selected' id="input1"
          required="true" data-size="5">
          {% for a in anggota %}
          <option value="{{a.0}}" data-subtext="{{a.0}}">{{a.1}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="input2">Barang:</label>
        <select class="selectpicker form-control" multiple data-selected-text-format='count>3' data-live-search="true"
          id="input2" data-size="5" data-header="Pilih barang yang ingin dipesan:" required>
          {% for b in barang %}
          <option value="{{b.0}},{{b.1}},{{b.2}}" data-subtext="Rp.{{b.2}}">{{b.1}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="input3">Lama sewa (dalam hari):</label>
        <input class="form-control" type="number" id="input3" min="1" placeholder="ex: 30" required>
      </div>
      <div class="form-group col-md-12 text-center">
        <button id="submit" type="submit" class="btn btn-primary">Pesan</button>
      </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Konfirmasi Pemesanan</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id="modalPesanan">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="createPesanan">Setuju</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
<script type="text/javascript">
  $(document).ready(function () {
    $("#formPesanan").submit(function (e) {
      e.preventDefault();
      $('#myModal').modal('toggle');
      $('#modalPesanan').empty();

      var input2 = $('#input2').val();
      var input3 = $('#input3').val();
      $('#modalPesanan').append('<p>Anda melakukan pemesanan:</p>');
      var total = 0;
      for (var i = 0; i < input2.length; i++) {
        var barang = input2[i].split(',');
        $('#modalPesanan').append('<div class="row"><p class="col-md-6">' + barang[1] +
          '</p><p class="col-md-6 text-right">Rp. ' + barang[2] + '</p></div>');
        total += parseFloat(barang[2]);
      }
      $('#modalPesanan').append(
        '<div class="row"><p class="col-md-6">Total harga:</p><p class="col-md-6 text-right">Rp. ' + total
        .toFixed(2) + '</p></div>');
      $('#modalPesanan').append('<p>Dengan lama sewa ' + input3 + ' hari, apakah anda setuju?</p>');
    });
    $("#createPesanan").click(function (e) {
      //logic
      var noKtp = $('#input1').val();
      var lamaSewa = $('#input3').val();
      var barang = [];
      var input2 = $('#input2').val();
      var total = 0;
      for (var i = 0; i < input2.length; i++) {
        barang.push(input2[i].split(',')[0]);
        total += parseFloat(input2[i].split(',')[2]);
      }
      console.log(total);
      $.ajax({
        type: 'POST',
        url: '../tambah-pesanan/',
        data: {
          no_ktp: noKtp,
          'list_barang[]': barang,
          lama_sewa: lamaSewa,
          harga_sewa: total,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (res) {
          console.log(res);
          location.href = '../daftar-pesanan';
        }
      });
    });
  });
</script>

</html>