<!DOCTYPE html>
<html lang="en">

<head>
  <title>Update Pemesanan</title>
  {% include 'import.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <form id="formUpdate" class="col-md-6 offset-md-3">
      <h2 class="text-center">FORM UPDATE PESANAN</h2>
      <div class="form-group">
        <label for="input1">Barang:</label>
        <select class="selectpicker form-control" multiple data-selected-text-format='count>3' data-live-search="true"
          id="input1" required data-size="5">
          {% for b in barang %}
          <option value="{{b.0}},{{b.1}},{{b.2}}" data-subtext="Rp.{{b.2}}" {% if b.0 in barang_pesanan %} selected
            {% endif %}>{{b.1}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="input2">Lama sewa (dalam hari):</label>
        <input class="form-control" type="number" id="input2" min="1" placeholder="ex: 30" required
          value='{{lama_pesanan}}'>
      </div>
      <div class="form-group">
        <label for="input3">Status:</label>
        <select class="selectpicker form-control" title='Nothing selected' id="input3" required disabled>
          {% for s in status %}
          <option value="{{s.0}}" data-subtext="{{s.1}}" {% if s.0 in status_pesanan %} selected {% endif %}>{{s.0}}
          </option>
          {% endfor %}
        </select>
      </div>
      <input id="id_pesanan" value="{{id_pesanan}}" hidden>
      <div class="form-group col-md-12 text-center">
        <button id="submit" type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Konfirmasi Perubahan Pemesanan</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id="modalPesanan">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="updatePesanan">Setuju</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
<script type="text/javascript">
  $(document).ready(function () {
    $("#formUpdate").submit(function (e) {
      e.preventDefault();
      $('#myModal').modal('toggle');
      $('#modalPesanan').empty();

      var input1 = $('#input1').val();
      var input2 = $('#input2').val();
      $('#modalPesanan').append('<p>Anda melakukan pemesanan:</p>');
      var total = 0;
      for (var i = 0; i < input1.length; i++) {
        var barang = input1[i].split(',');
        $('#modalPesanan').append('<div class="row"><p class="col-md-6">' + barang[1] +
          '</p><p class="col-md-6 text-right">Rp. ' + barang[2] + '</p></div>');
        total += parseFloat(barang[2]);
      }
      $('#modalPesanan').append(
        '<div class="row"><p class="col-md-6">Total harga:</p><p class="col-md-6 text-right">Rp. ' + total
        .toFixed(2) + '</p></div>');
      $('#modalPesanan').append('<p>Dengan lama sewa ' + input2 + ' hari, apakah anda setuju?</p>');
    });
    $("#updatePesanan").click(function (e) {
      var idPesanan = $('#id_pesanan').val();
      var barang = [];
      var input1 = $('#input1').val();
      var lamaSewa = $('#input2').val();
      var status = $('#input3').val();
      var total = 0;
      for (var i = 0; i < input1.length; i++) {
        barang.push(input1[i].split(',')[0]);
        total += parseFloat(input1[i].split(',')[2]);
      }
      $.ajax({
        type: 'POST',
        url: '../update-pesanan/',
        data: {
          'list_barang[]': barang,
          lama_sewa: lamaSewa,
          status: status,
          total: total,
          id_pesanan: idPesanan,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (res) {
          console.log(res);
          location.href = '../daftar-pesanan';
        }
      });
    });
  });
</script>

</html>