{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Daftar Pemesanan Barang</title>
  {% include 'import.html' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  </link>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  </link>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>DAFTAR PESANAN</h2>
      </div>
    </div>

    <table id="myTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Id pesanan</th>
          <th scope="col">Daftar barang</th>
          <th scope="col">Harga</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for k, pesanan in list_pesanan.items %}
        <tr id='{{ pesanan.id }}'>
          <td>{{ pesanan.id }}</td>
          <td>
            <ul>
              {% for barang in pesanan.daftar_barang %}
              <li>{{ barang }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>Rp. {{ pesanan.harga }}</td>
          <td>{{ pesanan.status }}</td>
          <td>
            <button type="button" class="btn-sm btn-primary updatePesanan">Update</button>
            <button type="button" class="btn-sm btn-danger deletePesanan">Delete</button>
          </td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="modal-{{pesanan.id}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Konfirmasi Hapus Pesanan</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Anda yakin untuk menghapus pesanan ini?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default border" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-danger deletePesananConfirm">Hapus</button>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </tbody>
    </table>

  </div>
</body>
<script type="text/javascript">
  $(document).ready(function () {
    $(".deletePesanan").click(function () {
      var pesananID = $(this).closest('tr').attr('id');
      $('#modal-' + pesananID).modal('toggle');
      $('#modal-' + pesananID + ' .deletePesananConfirm').click(function () {
        $.ajax({
          type: 'POST',
          url: '../hapus-pesanan/',
          data: {
            id_pesanan: pesananID,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function (res) {
            console.log(res.msg + ' pesanan deleted');
            console.log(res.row_deleted + ' rows deleted');
          }
        });
        $('#modal-' + pesananID).modal('toggle');
        table.row($('#' + pesananID)).remove().draw();
      });
      console.log('pesanan->' + pesananID);
    });
    $(".updatePesanan").click(function () {
      var pesananID = $(this).closest('tr').attr('id');
      location.href = '../form-update/' + pesananID;
    })
    var table = $("#myTable").DataTable({
      "lengthMenu": [
        [10, 20, 50, -1],
        [10, 20, 50, "All"]
      ],
      "order": [
        [0, "desc"]
      ]
    });
  });
</script>

</html>