<nav id="main-nav">
  <a href="/">Home</a>
  <div id="user-nav">
    {% if user.is_authenticated %}
    <a href="/profile">Hello, {{ user.name }}!</a>
    &nbsp;&#47;&nbsp;
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    &nbsp;&#47;&nbsp;
    <a href="/register">Register</a>
    {% endif %}
  </div>
</nav>