<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3 style="text-align:center">Form Tambah Level</h3>

<div>
  <form action="{% url 'level:tambah-level' %}" method="POST">
    {% csrf_token %}
    <label for="level">Nama level: </label>
    <input type="text" id="level" name="level" placeholder="Isi nama level..." required="true" maxlength="20">

    <label for="poin">Minimum poin: </label>
    <input type="text" id="poin" name="poin" placeholder="Isi minimum poin..." required="true">

    <label for="deskripsi">Deskripsi: </label>
    <input type="text" id="deskripsi" name="deskripsi" placeholder="Isi deskripsi level...">

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
