{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>


<body>
<h3 style="text-align:center">Level Keanggotaan</h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table id="level-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nama level</th>
                <th>Minimum poin</th>
                <th>Deskripsi</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
</table>

</body>
<script type="text/javascript">

$(document).ready(function() {
    $('#level-table').DataTable({
        "processing": true,
        "scrollX": true,
        "ajax": {
            "url": '{% url "level:api-level" %}',
        },
        "lengthMenu": [5, 10, 25, 50],
        "order": [[1, "asc"]],
        "columns": [

            {
                data:"nama_level"

            },

            {
                data:"minimum_poin"
            },
            {
                data:"deskripsi",
                defaultContent:"<i>Tidak ada deskripsi barang</i>"
            },
            
            {   
                data:"nama_level",
                render: function ( data, type, row ) {
                    
                    return '<button><a href="/level/update-level/'+data+'">Update</a></button>'+
                           '<form action="/level/hapus-level/'+data+'" method="post">'+
                           '<button type="submit">Delete</button>'+
                           '</form>'
                }
            }          
        
        ],

        columnDefs: [
                {
                    targets: '_all',
                    className: 'dt-body-center'
                }
        ], 
    });
} );

</script>
</html>
